.Chat-main
  .group-info
    .group-info__group-items
      %h2.group-info__group-items__current-group
        = @group.name
      %ul.group-info__group-items__group-member
        Member :
        - @group.users.each do |user|
          %li.group-info__group-items__group-member__member-name
            = user.name
    = link_to "Edit", edit_group_path(@group), class: "edit-btn"
  .message-list
    = render @messages
  .message-form
    = form_with model: [@group, @message], html: {class: "message-form__box"}, local: true do |f|
      .message-form__box__contents
        = f.text_field :content, class: 'message-form__box__contents__input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'message-form__box__send-btn'