.Side-bar
  .user-name
    .user-name__top-items
      %p.user-name__top-items__name
        = current_user.name
      %ul.user-name__top-items__top-icons
        %li
          = link_to new_group_path, class: "edit-btn" do
            = icon('far', 'edit')
        %li
          = link_to edit_user_path(current_user), class: "cog-btn" do
            = icon('fa', 'cog')
  .group-list
    - current_user.groups.each do |group|
      .group-list__user-group
        = link_to group_messages_path(group) do
          .group-list__user-group__group-name
            = group.name
          .group-list__user-group__new-message
            = group.show_last_message